work.el
eshell
server
backups
recentf
auto-save-list
elpa
README.el
projectile-bookmarks.eld
projectile.cache
.trello
bookmarks
url
tramp
request
emojis
transient
.lsp-session*
.org-id-locations
emacs-auto-custom.el